.mat-card-simples{
  max-width: 300px;
  background-color: aliceblue;
  margin-top: 10px;
}

.titulo-form{
  background-color: antiquewhite;
}

.mat-form-principal {
  margin-left: 5px;
}

.cardFooter{
  padding: 1rem;
  margin-right: 0px;
  text-align: right;
}